@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --color-primary: #6070ff;
  --color-primary-light: #7f8cff;
  --color-text: #344563;
  --color-text-dark: #172b4d;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  color: #344563;
  font-weight: 400;
  background-color: #e5e5e5;
}

h1 {
  color: #091e42;
}

header {
  background-color: #fff;
}

.connect {
  color: var(--color-primary-light);
  font-weight: 500;
}

#my-logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

#nav_links_container > li > a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

span {
  display: block;
}

.welcome_section {
  background-image: url("../images/header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 150px;
  background-color: #fff;
}

.works {
  margin-top: 140px;
}

.work-card {
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid #dfe1e6;
  padding: 24px;
  margin-bottom: 142px;
}

.lang-card > img {
  width: 48px;
  height: 48px;
  margin-left: 12px;
  margin-top: 12px;
}

.lang-card > p {
  margin-top: 16px;
  margin-left: 12px;
}

.work-card > div > img {
  width: 100%;
  object-fit: contain;
}

.canopy {
  color: #344563;
}

.dev-date {
  color: #6b778c;
}

.work-description {
  color: var(--color-text);
}

.works-badge {
  padding: 0.4rem 1.2rem;
  background: #ebebff;
  border-radius: 0.8rem;
  list-style: none;
  display: inline;
  color: var(--color-primary);
  font-size: 12px;
}

.btn-outline-primary {
  color: #396df2;
  border-color: var(--color-primary);
}

.about {
  background-color: #fff;
  padding-top: 142px;
  padding-bottom: 142px;
  border-top-left-radius: 150px;
}

.about-header {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.about-desc {
  color: #344563;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  line-height: 24px;
}

.lang-card {
  width: 122px;
  height: 120px;
  background: #f7f7f9;
  border-radius: 8px;
  color: #253858;
  line-height: 20px;
  border: 1px solid #f7f7f9;
  margin-right: 12px;
}

.about_features {
  border-bottom: 1px solid #dfe1e6;
  margin-top: 24px;
}

.open {
  margin-bottom: 24px;
}

.about_features > p,
.open > p {
  font-size: 20px;
  color: #344563;
}

footer {
  background: white;
}

.footer-class {
  background-image: url(../images/contactus.png);
  background-size: cover;
  background-color: var(--color-primary);
  border-top-left-radius: 150px;
}

.footer-container {
  padding-top: 142px;
}

.contact {
  color: white;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.footer-paragraph {
  height: 102px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #ebebff;
  font-size: 20px;
}

textarea {
  height: 170px;
}

.btn-outline-footer {
  background-color: white;
  border-color: var(--color-primary);
}

form {
  max-width: 447px;
}

@media screen and (max-width: 768px) {
  .welcome_section {
    background-image: url("../images/header-shapes-mobile.png");
  }
}
